<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Weather App</title>
</head>
<body>
    <div class="box">

        <div id="form">
            <form class="item" action="/" method="post">
                <input type="text" name = "cityName" placeholder="City Name" autocomplete="off">
                <button type="submit" name="submit">Submit</button>
            </form>
        </div>

        <div class="information">
            <div class="cityname"><p>City: <%=cityName %></p></div>
            <div class="details1"><p>Weather Type: <%=description %></p></div>
            <div class="details2"><p>Temperature: <%= temp%> ℃</p></div>
            <div class="details3"><p>Humidity: <%= humidity%> g.m-3</p></div>
            <div class="details4"><p>Date: <%=date%></p></div>
        </div>

        

    </div>
    
    
</body>
</html>